<!DOCTYPE html>
<html>
<head>
    <title>Hungry Students</title>
    <header>
        <h1>Hungry Students</h1>
    </header>

    <link rel="stylesheet" type="text/css" href="~/css/format.css">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/database.js"></script>
</head>

<body>
    <div id="menu-bar">
        <ul id ="heading_menu">
            <li><a href="/Home/add_event">Home</a></li>
            <li>
                @Html.ActionLink("Add Event", "AddPage", "Home", new { id = "32" }, null)
            </li>
        </ul>
    </div>


    @RenderBody()
</body>
</html>  
