@{
    ViewData["Title"] = "Access";
    <!--Layout = "~/Views/Shared/_layout.cshtml";-->
}

<script>
    function ConnectToDatabase() {
        $.get("/Home/ConnectToDatabase", function (data) {
            $("p").html(data);
        });
    }
</script>

@using bs2.Controllers;
<div id="welcome">
        <h2>Welcome to Hungry Students!</h2>
        <p>We understand the stress students go through while in school. Here, you can 
        find local events that will support students in the most basic human need,
        food.</p>
        <p>Search for events by location, food type or day and time.</p>
    </div>

    <div id="search-div">
        <input type="text" id="search-description"><button onclick="Search()" value="Go!">
    </div>
    <div class="container body-content">
        <div>
        <!--asp:LinkButton ID="btnSumb" runat="server" Text="sgas" OnClick="ConnectToDatabase" />-->
            <button onclick="ConnectToDatabase()" type="button" title="Connect to Database">Connect</button>
            <p id = "db"></p>
        </div>
        <hr />
        <footer>
            <p>&copy; 2019 - bs2</p>
        </footer>
    </div>
</div>

