@{
    ViewData["Title"] = "Access";
    <!--Layout = "~/Views/Shared/_layout.cshtml";-->
}

<div id="welcome">
        <h2>Welcome to Hungry Students!</h2>
        <p>We understand the stress students go through while in school. Here, you can 
        find local events that will support students in the most basic human need,
        food.</p>
        <p>Search for events by location, food type or day and time.</p>
    </div>

    <div id="search-div">
        <input type="text" id="search-description"><button onclick="SearchDatabase()" value="Go!">Go!</button>
    </div>
    <div class="container body-content">
        <div>
            <p id = "db"></p>
        </div>
        <hr />
        <footer>
            <p>&copy; 2019 - bs2</p>
        </footer>
    </div>
</div>